@page "/personajes"
@using Microsoft.EntityFrameworkCore
@using tareaPweb.Components.Layout
@using tareaPweb.Data
@using tareaPweb.models
@inject AppDbContext context
@inject NavigationManager NavigationManager
@rendermode InteractiveServer


<h3>Lista de Personajes</h3>

<button class="btn btn-success mb-3" @onclick="AgregarPersonaje">Agregar Personaje</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Alias</th>
            <th>Rol</th>
            <th>Nivel de Poder</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var personaje in listaPersonajes)
        {
            <tr>
                <td>@personaje.Nombre</td>
                @if (!string.IsNullOrEmpty(personaje.ImagenPersonaje))
                {
                    <td><img src="@personaje.ImagenPersonaje" alt="@personaje.Nombre" class="img-thumbnail"
                            style="width: 70px; height: 70px;" /></td>
                }
                else
                {
                    <td>
                    <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmNILEZppKJCs1LHgBaUGbbFzQJsv6b5bt-w&s"
                            alt="@personaje.Nombre" class="img-thumbnail" style="width: 70px; height: 70px;" /></td>
                    </td>
                }
                <td>@personaje.Alias</td>
                <td>@personaje.Rol</td>
                <td>@personaje.NivelPoder</td>
                <td>
                    <button class="btn btn-primary btn-sm" @onclick="() => EditarPersonaje(personaje)">Editar</button>
                    <button class="btn btn-info btn-sm" @onclick="() => VerDetalles(personaje)">Detalles</button>
                    <button class="btn btn-danger btn-sm" @onclick="() => EliminarPersonaje(personaje)">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    // Lista de personajes (ejemplo de datos)
    private List<Personaje> listaPersonajes = new List<Personaje>();


    protected override async Task OnInitializedAsync()
    {
        listaPersonajes = await context.Personajes.ToListAsync();
    }

    private void AgregarPersonaje()
    {
        NavigationManager.NavigateTo("/personaje-form");
    }

    private void EditarPersonaje(Personaje personaje)
    {
        // Navegar a la página de edición
        NavigationManager.NavigateTo($"/personaje-form/{personaje.PersonajeId}");
    }

    private void VerDetalles(Personaje personaje)
    {
        // Navegar a la página de detalles
        NavigationManager.NavigateTo($"/personaje-detalles/{personaje.PersonajeId}");
    }

    private void EliminarPersonaje(Personaje personaje)
    {
        // Eliminar el personaje
        context.Personajes.Remove(personaje);
        context.SaveChanges();
        listaPersonajes = context.Personajes.ToList();
    }
}