@page "/"
@using System.Collections.Generic
@using Microsoft.EntityFrameworkCore
@using tareaPweb.Data
@using tareaPweb.models

@inject AppDbContext context



<div class="console-container mb-2">
    <h1 class="title-videojuego">Mundo Video juego</h1>

    <div class="row">
        @foreach (var videojuego in videojuegos)
        {
            var claseFila = index % 2 == 0 ? "videojuego-card videojuego-card-2" : "videojuego-card videojuego-card-1";
            <div class="col-6">
                <div class="@claseFila">
                    <img src="@videojuego.ImagenPortada" alt="@videojuego.Nombre" class="portada"
                        style="width: 200px; height: 170px; object-fit: cover;" />
                    <div class="videojuego-info">
                        <h3>@videojuego.Nombre</h3>
                        <p><strong>Fecha de Lanzamiento:</strong> @videojuego.FechaLanzamiento.ToShortDateString()</p>
                        <p><strong>Descripción:</strong> @videojuego.Descripcion</p>
                    </div>
                </div>
            </div>
            index++;

        }
    </div>
</div>
@code {

    int index = 0; // Inicializa un contador
    private List<VideoJuegos> videojuegos = new List<VideoJuegos>();

    protected override async Task OnInitializedAsync()
    {
        videojuegos = await context.Videojuegos.ToListAsync();
    }
}
